# Configuration file

compat {
    B:compatSignpost=false
    B:compatWaystone=false
    I:distanceToMarker=5
    B:enableFastTravel=false
}


costprovider {
    I:blocksPerUnit=0
    S:costUnit=HUNGER
    S:item=
    I:maxTravelDistance=0
    B:useOwnCostProvider=true
    I:xpAmount=50
}


general {
    # The color to display the info in (hexadecimal)
    S:color=efd9a9

    # where should the information be rendered
    # Valid values:
    # MINIMAP
    # OPENATLAS
    # BOTH
    S:displayPosition=BOTH

    # true if the biome info should be shown, false otherwise
    B:enableBiomeInfo=true

    # true if the position info should be shown, false otherwise
    B:enablePositionInfo=false

    # true if the time info should be shown, false otherwise
    B:enableTimeInfo=false

    # true removes the 'x:' from the ui and makes coords ',' separated
    B:nonVerbose=false

    # scale of the HUD information
    # Valid values:
    # BIG
    # NORMAL
    # SMALL
    S:textScale=NORMAL

    # toggles if the hud should be shown, this also has a keybind
    B:toggleHUDDisplay=true
}


hud {
    S:color=ba998f
    S:displayPosition=BOTH
    B:enableBiomeInfo=true
    B:enablePositionInfo=false
    B:enableTimeInfo=false
    B:nonVerbose=true
    S:nonVerboseSeparator= | 
    S:textScale=NORMAL
    B:toggleHUDDisplay=true
}


