# Configuration file

general {
    # How many ticks to wait after joining a world before triggering F3 + R.
    # Recommended: 10-20
    # Default: 15
    # Min: 0
    # Max: 200
    I:"Shader Emissive Fix Delay Ticks"=15

    # Automatically triggers OptiFine's quick shader refresh (same as F3 + R) once after joining a world. Useful for fixing shader leak / broken framebuffer issues.
    B:"Shader Emissive Fix"=false

    # Use the HEX RGB code.
    S:"Custom GUI Text Color"=#ffaa00

    # Determine how potion effects appear around your character.
    # Valid values:
    # VANILLA
    # LESS_VISIBLE
    # HIDDEN
    S:"Personal Particle Effects"=HIDDEN

    # Use the HEX RGB code.
    S:"Search Box Outline Color"=#675d4e

    # Controls the vertical position of the selected item tooltip above the hotbar.
    # Vanilla default is 59.
    # Higher values move the tooltip upward.
    # Lower values move it downward.
    I:"Selected Item Tooltip Height"=65
}


