# Configuration file

options {
    B:"Hide hand"=true
    B:"Sensitivity stabilization"=true
    B:"Smooth zoom"=false
    B:"Stabilize sensitivity"=true
    B:"Zoom on mouse wheel"=false
    I:"Zoom speed"=4
}


